In [102]:
import pandas as pd
import json
import numpy as np
import csv

In [134]:
df  = pd.read_csv('../data/extract/data_restaurants.csv')

In [135]:
df.tail(100)

,dish_name,details,categories,unitMinPrices
4931,Combo Tributo a la Casa,Sándwich de jamón de cerdo + Papas Tributo (12...,Combos,"[16900, 'tributo-north-point-usaquen', 4.38264..."
4932,Combo Tributo a la Costa,Sándwich de carne desmechada en salsa de panel...,Combos,"[21900, 'tributo-north-point-usaquen', 4.38264..."
4933,Combo Tributo al Campo,Sándwich de pollo en salsa criolla+ Papas Trib...,Combos,"[17900, 'tributo-north-point-usaquen', 4.38264..."
4934,Combo Tributo al Llano,Sándwich de carnes asada y chorizo + Papas Tri...,Combos,"[19900, 'tributo-north-point-usaquen', 4.38264..."
4935,Combo Tributo al Pacífico,Sándwich de encocado de cerdo desmechado + Pap...,Combos,"[21900, 'tributo-north-point-usaquen', 4.38264..."
...,...,...,...,...
5026,Té Hatsu Mangostino 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5027,Té Hatsu Flor de Cerezo 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5028,Agua Cristal sin Gas 600ml,whitout details,Bebidas,"[2800, 'fresh-to-go-timbre-301-los-cedritos', ..."
5029,Agua Cristal con Gas 600ml,whitout details,Bebidas,"[3500, 'fresh-to-go-timbre-301-los-cedritos', ..."
5030,Coca Cola Sin Azúcar 250ml,whitout details,Bebidas,"[3000, 'fresh-to-go-timbre-301-los-cedritos', ..."

In [136]:
df['prices'] = df['unitMinPrices'].apply(lambda x: x.split(',')[0].replace('[','$'))
df['restaurant_name'] = df['unitMinPrices'].apply(lambda x: x.split(
    ',')[1].replace('---', ' ').replace('--', ' ').replace('-', ' '))
df['valoration'] = df['unitMinPrices'].apply(lambda x: x.split(',')[2].replace(']',''))

In [137]:
df

,dish_name,details,categories,unitMinPrices,prices,restaurant_name,valoration
0,1 pollo asado,"1 pollo asado con 4 papas salada, 4 arepas y ...",Pollos,"[30900, 'la-riviera--colina-parque-mazuren', 4...",$30900,'la riviera colina parque mazuren',4.333330154418945
1,1 pollo broasted,1 pollo broasted con 1 porción de papa a la fr...,Pollos,"[31900, 'la-riviera--colina-parque-mazuren', 4...",$31900,'la riviera colina parque mazuren',4.333330154418945
2,1/2 pollo asado,"1/2 pollo asado con 2 papas salada, 2 arepas y...",Pollos,"[16900, 'la-riviera--colina-parque-mazuren', 4...",$16900,'la riviera colina parque mazuren',4.333330154418945
3,1/2 pollo broasted,1/2 pollo broasted con 1/2 porción de papa a l...,Pollos,"[20900, 'la-riviera--colina-parque-mazuren', 4...",$20900,'la riviera colina parque mazuren',4.333330154418945
4,1/4 pollo asado,"1/4 pollo asado con 1 papas salada, 2 arepas y...",Pollos,"[9700, 'la-riviera--colina-parque-mazuren', 4....",$9700,'la riviera colina parque mazuren',4.333330154418945
...,...,...,...,...,...,...,...
5026,Té Hatsu Mangostino 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ...",$6500,'fresh to go timbre 301 los cedritos',4.444439888000488
5027,Té Hatsu Flor de Cerezo 400ml,whitout details,Bebidas,"[6500, 'fresh-to-go-timbre-301-los-cedritos', ...",$6500,'fresh to go timbre 301 los cedritos',4.444439888000488
5028,Agua Cristal sin Gas 600ml,whitout details,Bebidas,"[2800, 'fresh-to-go-timbre-301-los-cedritos', ...",$2800,'fresh to go timbre 301 los cedritos',4.444439888000488
5029,Agua Cristal con Gas 600ml,whitout details,Bebidas,"[3500, 'fresh-to-go-timbre-301-los-cedritos', ...",$3500,'fresh to go timbre 301 los cedritos',4.444439888000488
5030,Coca Cola Sin Azúcar 250ml,whitout details,Bebidas,"[3000, 'fresh-to-go-timbre-301-los-cedritos', ...",$3000,'fresh to go timbre 301 los cedritos',4.444439888000488

In [138]:
df.drop(['unitMinPrices'], axis=1, inplace=True)

In [142]:
df.reindex(columns=['restaurant_name', 'dish_name', 'details', 'categories', 'prices', 'valoration'])

,restaurant_name,dish_name,details,categories,prices,valoration
0,'la riviera colina parque mazuren',1 pollo asado,"1 pollo asado con 4 papas salada, 4 arepas y ...",Pollos,$30900,4.333330154418945
1,'la riviera colina parque mazuren',1 pollo broasted,1 pollo broasted con 1 porción de papa a la fr...,Pollos,$31900,4.333330154418945
2,'la riviera colina parque mazuren',1/2 pollo asado,"1/2 pollo asado con 2 papas salada, 2 arepas y...",Pollos,$16900,4.333330154418945
3,'la riviera colina parque mazuren',1/2 pollo broasted,1/2 pollo broasted con 1/2 porción de papa a l...,Pollos,$20900,4.333330154418945
4,'la riviera colina parque mazuren',1/4 pollo asado,"1/4 pollo asado con 1 papas salada, 2 arepas y...",Pollos,$9700,4.333330154418945
...,...,...,...,...,...,...
5026,'fresh to go timbre 301 los cedritos',Té Hatsu Mangostino 400ml,whitout details,Bebidas,$6500,4.444439888000488
5027,'fresh to go timbre 301 los cedritos',Té Hatsu Flor de Cerezo 400ml,whitout details,Bebidas,$6500,4.444439888000488
5028,'fresh to go timbre 301 los cedritos',Agua Cristal sin Gas 600ml,whitout details,Bebidas,$2800,4.444439888000488
5029,'fresh to go timbre 301 los cedritos',Agua Cristal con Gas 600ml,whitout details,Bebidas,$3500,4.444439888000488
5030,'fresh to go timbre 301 los cedritos',Coca Cola Sin Azúcar 250ml,whitout details,Bebidas,$3000,4.444439888000488

In [113]:
df.to_csv('../data/transform/ifood_clean_.csv', sep=',', index=False, encoding='utf-8')

In [145]:
pd.read_csv('../data/transform/ifood.csv')

,dish_name,details,categories,prices,restaurant_name,valoration
0,Promo 1/4 de Pollo + Papa Salada + Ají,1/4 Pollo (2 presas) + 1 porción de papa salad...,Promo Increíble 🤩,$10900,'el original san cipriano san cipriano',4.61184
1,Promo 1/4 de Pollo + Papa Salada + Ají,1/4 Pollo (2 presas) + 1 porción de papa salad...,¡ Promo Potente !,$10900,'el original san cipriano san cipriano',4.61184
2,1 Pollo + Porción de Papa Salada,1 Pollo + Porción de papa salada\n\n\n\n\n\n,¡¡Promo 2022!! 🎇,$22900,'el original san cipriano san cipriano',4.61184
3,Promo 1/4 Pollo X900,1/4 Pollo (2 presas) + 1 porción de papa salad...,900+Domi Gratis🏍 (Sólo nuevos usuarios),$10900,'el original san cipriano san cipriano',4.61184
4,1/4 Pollo y Papa Salada,1/4 Pollo (2 presas) + 1 porción de papa salad...,Combos Originales,$10900,'el original san cipriano san cipriano',4.61184
...,...,...,...,...,...,...
5021,Granizados,whitout details,Granizados,$5900,'fruteria y heladeria super pattos 2 170 orie...,4.63636
5022,Jugo Borojó,whitout details,Jugos Especiales,$5800,'fruteria y heladeria super pattos 2 170 orie...,4.63636
5023,Jugo Explosivo,whitout details,Jugos Especiales,$6300,'fruteria y heladeria super pattos 2 170 orie...,4.63636
5024,Salpicón Sencillo,whitout details,Jugos Especiales,$4800,'fruteria y heladeria super pattos 2 170 orie...,4.63636
5025,Salpicón con Helado,whitout details,Jugos Especiales,$5400,'fruteria y heladeria super pattos 2 170 orie...,4.63636